{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}DailyFresh-Login{% endblock title %}

{% block header_con %}{% endblock header_con %}
{% block search_bar %}{% endblock search_bar %}
{% block body %}
	<div class="login_top clearfix">
		<a href="{% url 'goods:index' %}" class="login_logo"><img src="{% static 'images/logo02.png' %}"></a>
	</div>

	<div class="login_form_bg">
		<div class="login_form_wrap clearfix">
			<div class="login_banner fl"></div>
			<div class="slogan fl"></div>
			<div class="login_form fr">
				<div class="login_title clearfix">
					<h1>Login</h1>
					<a href="{% url 'user:register' %}">Register</a>
				</div>
				<div class="form_input">
					<form method="post">
                        {% csrf_token %}
						<input type="text" name="username" class="name_input" value="{{ username }}" placeholder="input username">
						<div class="user_error">input wrong</div>
						<input type="password" name="pwd" class="pass_input" placeholder="input password">
						<div class="pwd_error">input wrong</div>
						<div class="more_input clearfix">
							<input type="checkbox" name="remember" {{ checked }}>
							<label>Remember username</label>
							<a href="#">Forget password</a>
						</div>
						<input type="submit" name="" value="Login" class="input_submit">
					</form>
				</div>
			</div>
		</div>
	</div>
    {{ errmsg }}
{% endblock body %}