{% extends 'base_no_cart.html' %}
{% load staticfiles %}
{% block title%}DailyFresh-Place Order{% endblock title %}
{% block page_title%}Place Order{% endblock page_title %}
{% block body %}

	<h3 class="common_title">Confirm mailing address</h3>

	<div class="common_list_con clearfix">
		<dl>
			<dt>Mail to: </dt>
            {% for addr in addrs %}
			<dd><input type="radio" name="addr_id" value="{{ addr.id }}" {% if addr.is_default %}checked{% endif %}>{{ addr.addr }} （{{ addr.receiver }}） {{ addr.phone }}</dd>
            {% endfor %}
		</dl>
		<a href="{% url 'user:address' %}" class="edit_site">Edit</a>

	</div>
	
	<h3 class="common_title">Pay Method</h3>
	<div class="common_list_con clearfix">
		<div class="pay_style_con clearfix">
			<input type="radio" name="pay_style" value="1" checked>
			<label class="cash">Cash on delivery</label>
			<input type="radio" name="pay_style" value="2">
			<label class="weixin">WechatPay</label>
			<input type="radio" name="pay_style" value="3">
			<label class="zhifubao"></label>
			<input type="radio" name="pay_style" value="4">
			<label class="bank">UnionPay</label>
		</div>
	</div>

	<h3 class="common_title">Goods List</h3>
	
	<div class="common_list_con clearfix">
		<ul class="goods_list_th clearfix">
			<li class="col01">Goods Name</li>
			<li class="col02">Goods Unite</li>
			<li class="col03">Goods Price</li>
			<li class="col04">Amount</li>
			<li class="col05">Subprice</li>
		</ul>
        {% for sku in skus %}
		<ul class="goods_list_td clearfix">
			<li class="col01">{{ forloop.counter }}</li>
			<li class="col02"><img src="{{ sku.image.url }}"></li>
			<li class="col03">{{ sku.name }}</li>
			<li class="col04">{{ sku.unite }}</li>
			<li class="col05">${{ sku.price }}</li>
			<li class="col06">{{ sku.count }}</li>
			<li class="col07">${{ sku.subprice }}</li>
		</ul>
        {% endfor %}
	</div>

	<h3 class="common_title">Total Payment Checkout</h3>

	<div class="common_list_con clearfix">
		<div class="settle_con">
			<div class="total_goods_count">All<em>{{ total_count }}</em>item(s), All<b>${{ total_price }}</b></div>
			<div class="transit">Delivery Fee: <b>${{ transit_price }}</b></div>
			<div class="total_pay">Total Payment: <b>${{ total_pay }}</b></div>
		</div>
	</div>

	<div class="order_submit clearfix">
        {% csrf_token %}
		<a href="javascript:;" sku_ids="{{ sku_ids }}" id="order_btn">Place Order</a>
	</div>

{% endblock body %}


{% block bottom %}
	<div class="popup_con">
		<div class="popup">
			<p>Place Order Successfully！</p>
		</div>
		<div class="mask"></div>
	</div>
{% endblock bottom %}
{% block bottomfiles %}
	<script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
	<script type="text/javascript">
		$('#order_btn').click(function() {
            addr_id = $('input[name="addr_id"]:checked').val()
            pay_method = $('input[name="pay_style"]:checked').val()
            sku_ids = $(this).attr('sku_ids')
            csrf = $('input[name="csrfmiddlewaretoken"]').val()
            params = {'addr_id': addr_id, 'pay_method': pay_method, 'sku_ids': sku_ids, 'csrfmiddlewaretoken': csrf}
            {#visit /order/commit#}

            $.post('/order/commit', params, function (data) {
                if (data.res == 5) {

                    localStorage.setItem('order_finish', 2);
                    $('.popup_con').fadeIn('fast', function () {

                        setTimeout(function () {

                            $('.popup_con').fadeOut('fast', function () {
                                window.location.href = '/user/order/1';
                            });
                        }, 3000)
                    });
                }
                else {
                    alert(data.errmsg)
                }
            })
        })

	</script>
{% endblock bottomfiles %}