{% extends 'base_user_center.html' %}
{% load staticfiles %}
{% block right_content %}
    <div class="right_content clearfix">
                {% csrf_token %}
				<h3 class="common_title2">Orders</h3>
                {% for order in order_page %}
				<ul class="order_list_th w978 clearfix">
					<li class="col01">{{ order.create_time }}</li>
					<li class="col02">Order ID: {{ order.order_id }}</li>
					<li class="col02 stress">{{ order.status_name }}</li>
				</ul>

				<table class="order_list_table w980">
					<tbody>
						<tr>
							<td width="55%">
                                {% for order_sku in order.order_skus %}
								<ul class="order_goods_list clearfix">					
									<li class="col01"><img src="{{ order_sku.sku.image.url }}"></li>
									<li class="col02">{{ order_sku.sku.name }}<em>${{ order_sku.price }}/{{ order_sku.sku.unite }}</em></li>
									<li class="col03">{{ order_sku.count }}</li>
									<li class="col04">${{ order_sku.subprice }}</li>
								</ul>
                                {% endfor %}
							</td>
                            <td width="15%"><p>${{ order.total_pay }}</p>(include delivery fee: ${{ order.transit_price }})</td>
							<td width="15%">{{ order.status_name }}</td>
							<td width="15%"><a href="#" order_id="{{ order.order_id }}" status="{{ order.order_status }}" class="oper_btn">Pay Now</a></td>
						</tr>
					</tbody>
				</table>
				{% endfor %}


				<div class="pagenation">
                    {% if order_page.has_previous %}
					<a href="{% url 'user:order' order_page.previous_page_number %}">Previous</a>
                    {% endif %}
                    {% for pindex in pages %}
                        {% if pindex == order_page.number %}
					        <a href="{% url 'user:order' pindex %}" class="active">{{ pindex }}</a>
                        {% else %}
					        <a href="{% url 'user:order' pindex %}">{{ pindex }}</a>
                        {% endif %}
                    {% endfor %}
                    {% if order_page.has_next %}
					<a href="{% url 'user:order' order_page.next_page_number %}">Next</a>
                    {% endif %}
				</div>
		</div>
{% endblock right_content %}

{% block bottom %}
	<div class="popup_con">
		<div class="popup">
			<p>Pay Order Successfully！</p>
		</div>
		<div class="mask"></div>
	</div>
{% endblock bottom %}

{% block bottomfiles %}
    <script src="{% static 'js/jquery-1.12.4.min.js'%}"></script>
    <script>

    $('.oper_btn').each(function () {
        status = $(this).attr('status')
        if (status == 1){
            $(this).text('Pay Now')
        }
        else if (status == 4){
            $(this).text('Comment Now')
        }
        else if (status == 5){
            $(this).text('Completed')
        }
    })

    $('.oper_btn').click(function () {
        status = $(this).attr('status')
        console.log(status)
        order_id = $(this).attr('order_id')

        if (status == 1){
            {#visit /order/pay#}
            csrf = $('input[name="csrfmiddlewaretoken"]').val()
            params = {'order_id': order_id, 'csrfmiddlewaretoken': csrf}

            $.post('/order/pay', params, function (data) {

                if (data.res == 3){

                    $.post('/order/check', params, function (data) {
                        if (data.res == 3){
                            $('.popup_con').fadeIn('fast', function () {
                                setTimeout(function () {
                                    $('.popup_con').fadeOut('fast', function () {
                                        location.reload();
                                     });
                                }, 3000)
                            });
                        }
                        else{
                            alert(data.errmsg)
                        }
                    })
                }
                else {
                    alert(data.errmsg)
                }
            })
        }
        else if (status == 4){

            window.location.href = '/order/comment/' + order_id
        }
    })
    </script>
{% endblock bottomfiles %}
